<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="jumbotron">
        <h2>User Login</h2>
        {% if state == 'not_exist_or_password_error' %}
            <div class="well">
                <h2 class="text-danger text-center">user not exist or wrong password</h2>
            </div>
        {% endif %}
        <form class="form-horizontal" method="POST" autocomplete="off">
            <div class="form-group" style="padding-left: 25%">{{ form|bootstrap_horizontal }}</div>
            {% csrf_token %}
            <div style="text-align: center">
            <input type="submit" class="btn btn-large btn-primary" value="Login" >
            </div>
        </form>
    </div>
</body>
</html>