<!DOCTYPE html>
{% extends 'user_page.html' %}
{% block body_block %}
    <div class="container">
        {% if user_transactions.count != 0 %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th data-field="index">#</th>
                    <th>Transaction ID</th>
                    <th>Transaction Date</th>
                    <th>Transaction Type</th>
                    <th>Transaction Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for trans in user_transactions %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ trans.transaction_id }}</td>
                        <td>{{ trans.transaction_date }}</td>
                        <td>{{ trans.transaction_type }}</td>
                        <td>{{ trans.transaction_amount }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No records</p>
        {% endif %}
    </div>

{% endblock %}