<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user_page</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
    {% block extra_head %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav" id="myTab">
                <li><a class="navbar-brand" href="{% url 'User_Management:user_page' %}" style="font-size: large;font-weight: 600;color: #5151A2;">Welcome</a></li>
                <li><a class="navbar-link" data-toggle="tab" href="{% url 'User_Management:user_info' myuser_id %}">User Information</a></li>
                <li><a class="navbar-link" data-toggle="tab" href="{% url 'User_Management:user_activity' %}">User Activities</a></li>
                <li><a class="navbar-link" data-toggle="tab" href="{% url 'User_Management:user_transaction' %}">Transactions</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <span>{{ user_fullname }}</span>
                <a href="{% url 'User_Management:logout' %}"><button type="button" class="btn btn-default navbar-btn">Sign out</button></a>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block body_block %}
            <h1>Popluar Book</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th data-field="index">#</th>
                        <th>Book Name</th>
                        <th>Author</th>
                        <th>Score</th>
                        <th>ISBN</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for b in spider_books %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ b.name }}</td>
                            <td>{{ b.author }}</td>
                            <td>{{ b.score }}</td>
                            <td>{{ b.isbn }}</td>
                            <td>{{ b.price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    </div>

</body>
</html>