<!DOCTYPE html>
{% extends 'user_page.html' %}
{% block body_block %}
    <div class="container">
        <h1>User Information</h1>
        <dl class="row">
            <dt class="col-sm-2">Username:</dt>
            <dd class="col-sm-10">{{ user_info.user.username }}</dd>

            <dt class="col-sm-2">First Name:</dt>
            {% if user_info.user.first_name == '' %}
            <dd class="col-sm-10">N/A</dd>
            {% else %}
            <dd class="col-sm-10">{{ user_info.user.first_name }}</dd>
            {% endif %}

            <dt class="col-sm-2">Last Name:</dt>
            {% if user_info.user.last_name == '' %}
            <dd class="col-sm-10">N/A</dd>
            {% else %}
            <dd class="col-sm-10">{{ user_info.user.last_name }}</dd>
            {% endif %}

            <dt class="col-sm-2">Email Address:</dt>
            {% if user_info.user.email == '' %}
            <dd class="col-sm-10">N/A</dd>
            {% else %}
            <dd class="col-sm-10">{{ user_info.user.email }}</dd>
            {% endif %}

            <dt class="col-sm-2">Date Joined:</dt>
            {% if user_info.user.date_joined == '' %}
            <dd class="col-sm-10">N/A</dd>
            {% else %}
            <dd class="col-sm-10">{{ user_info.user.date_joined }}</dd>
            {% endif %}

            <dt class="col-sm-2">Last Login:</dt>
            {% if user_info.user.last_login == '' %}
            <dd class="col-sm-10">N/A</dd>
            {% else %}
            <dd class="col-sm-10">{{ user_info.user.last_login }}</dd>
            {% endif %}

            <dt class="col-sm-2">SSN:</dt>
            {% if user_info.user_ssn == '' %}
            <dd class="col-sm-10">N/A</dd>
            {% else %}
            <dd class="col-sm-10">{{ user_info.user_ssn }}</dd>
            {% endif %}

            <dt class="col-sm-2">Level:</dt>
            {% if user_info.user_level == '' %}
            <dd class="col-sm-10">N/A</dd>
            {% else %}
            <dd class="col-sm-10">{{ user_info.user_level }}</dd>
            {% endif %}

            <dt class="col-sm-2">Balance:</dt>
            {% if user_info.user_balance == '' %}
            <dd class="col-sm-10">N/A</dd>
            {% else %}
            <dd class="col-sm-10">{{ user_info.user_balance }}</dd>
            {% endif %}
        </dl>
    </div>

{% endblock %}